@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


:root {
  /** sunny side **/
  --blue-background: #C2E9F6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  width: 100vw;
  color: white;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}
.auth-form {
  width: 500px;
  padding: 25px;
  max-width: 100%;
  border-radius: 10px;
  background-color: #15202b;
  box-shadow: 0px 0px 10px black;
}
.auth-form label {
  display: block;
  margin-bottom: 25px;
}
.auth-form input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #d2d2d2;
}
.auth-form button {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #030a24;
}
.auth-form button:hover {
  box-shadow: 0px 0px 3px black;
}
.auth-form button:disabled {
  color: darkgray;
  cursor: not-allowed;
  background-color: gray;
}
.auth-link-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.auth-link {
  color: gray;
  cursor: pointer;
  font-weight: bold;
}
.auth-link:hover {
  color: #5c5caa;
}
.error {
  color: #cd0000;
  font-weight: bold;
}
.chat-container {
  flex: 1;
  height: 100%;
  display: flex;
}
.left-rail {
  height: 100%;
  width: 300px;
}
.chat-list-container {
  overflow-y: auto;
  height: calc(100% - 150px);
}
.no-chats-yet {
  padding: 15px;
}
.chat-list {
  display: flex;
  flex-direction: column;
}
.chat-list-item {
  display: flex;
  height: 75px;
  width: 100%;
  padding: 10px;

  align-items: center;
  box-shadow: 0px 0px 2px black;
  justify-content: space-between;
}
.chat-list-item-content {
  flex: 1;
  display: flex;
  cursor: pointer;
  color: #f2f2f2;
  align-items: center;
  justify-content: flex-start;
}
.chat-list-item .selected,
.chat-list-item:hover {
  background-color: #18181d;
}
.chat-list-avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.selected-chat-item {
  background-color: #18181d;
}
.chat-item-delete {
  width: 35px;
  cursor: pointer;
  text-align: right;
  visibility: hidden;
}
.chat-list-item:hover .chat-item-delete {
  visibility: visible;
}
.chat-item-delete:hover {
  color: #cd0000;
}
.chat-list-preview {
  margin-left: 10px;
}
.create-chat-button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 0px;
  background-color: #030a24;
}
.preview-message {
  font-size: 12px;
}
.empty-avatar {
  width: 28px;
  height: 28px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: #4d515d;
}
.left-rail-header .empty-avatar {
  width: 50px;
  height: 50px;
}
.chats-loading {
  height: 100%;
  position: relative;

}
.loading-blue{
  background-color: #43afe8;
}
.left-rail-header {
  height: 100px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  background-color: #161616;
  box-shadow: 0px 0px 2px black;
}
.current-user-info {
  display: flex;
  align-items: center;
}
.current-username {
  margin-left: 15px;
  font-size: 28px;
}
.user-avatar {
  cursor: pointer;
}
.user-loading {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.current-chat {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.dark-mode {
  background-color: #292b31 !important;
}

.setting-button{
  margin-left:auto;
  cursor: pointer;
}

#modal {
  position: absolute;
  z-index: 99;
  top: 25%;
  width: 400px;
  height: 300px;
  margin: auto;
  display: none;
}

.no-chat-selected {
  display: flex;
  font-size: 28px;
  padding: 25px;
  color: #abaebb;
  align-self: center;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #4d515d;
  box-shadow: 0px 0px 3px black;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.point-left {
  width: 75px;
  height: auto;
  margin-right: 25px;
}
.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-toolbar {
  display: flex;
  min-height: 50px;
  color: #f2f2f2;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  background-color: #121212;
  justify-content: space-between;
}
.chat-header-text {
  color: gray;
  font-size: 16px;
  font-weight: bold;
}
.add-user-icon {
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-bottom: 5px;
}
.no-messages-yet {
  font-size: 24px;
  margin-top: 25px;
}
.chat-messages {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  height: calc(100% - 105px);
}
.chat-message {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
}
.message-image {
  width: 250px;
}
.message-avatar {
  width: 35px;
  height: 35px;
  display: flex;
  font-size: 24px;
  margin-right: 15px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: #4d515d;
}
.chat-message-header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.message-author {
  font-size: 24px;
}
.message-content {
  padding-left: 25px;
}
.message-text {
  font-size: 14px;
  margin-bottom: 10px;
}
.chat-controls {
  width: 100%;
  margin: 25px;
  margin-top: 15px;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  width: calc(100% - 50px);
  background-color: #23252c;
  box-shadow: 0px 0px 3px black;
}
.attachment-icon {
  width: 35px;
  height: 100%;
  display: flex;
  cursor: pointer;
  margin-right: 5px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
  background-color: #1f2026;
}
.attachment-icon:hover {
  background-color: #2f313a;
}
.chat-input {
  flex: 1;
  border: none;
  height: 100%;
  outline: none;
  color: #f2f2f2;
  caret-color: white;
  background-color: transparent;
}
.send-message-icon {
  width: 35px;
  height: 100%;
  display: flex;
  cursor: pointer;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}
.send-message-icon:hover {
  background-color: #1f2026;
}
.user-search .input {
  width: 100%;
}
.user-search .input .prompt,
.user-search .input .prompt:focus {
  border: none;
  outline: none;
  color: #f2f2f2;
  caret-color: white;
  background-color: #1f2026;
  border-radius: 0px !important;
}
.user-search .input i {
  color: white !important;
}
.image-upload-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: space-between;
}
.image-upload-actions {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.image-upload-actions button {
  border: none;
  padding: 10px;
  outline: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}
.image-upload-actions .cancel {
  background-color: #cd0000;
}
.image-upload-actions .submit {
  background-color: #030a24;
}
.file-input {
  display: none;
}
.modal .content {
  background: #15202b !important;
}
.modal .actions,
.modal .header {
  color: #f2f2f2 !important;
  background-color: #060f18 !important;
}

.sign-out {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
}

.ce-chats-container {
  background-color: rgb(240, 240, 240) !important;
}

.ce-active-chat-card {
  background-color: #cabcdc !important;
  border: 4px solid #cabcdc !important;
  border-radius: 0px !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: rgb(240, 240, 240) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}

.chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: #7554a0;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: #7554a0;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  /* width: 30vw; */
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 36px);
  padding: 18px;
  background-color: rgb(240, 240, 240);
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #3b2a50;
  background-color: white;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
  padding: 0px 12px;
  height: 100%;
}

.send-button {
  height: 42px;
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  cursor: pointer;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  /*background: rgb(117,84,160);*/
  /*background: linear-gradient(90deg, rgba(117,84,160,1) 7%, rgba(117,84,160,1) 17%, rgba(106,95,168,1) 29%, rgba(99,103,174,1) 44%, rgba(87,116,184,1) 66%, rgba(70,135,198,1) 83%, rgba(44,163,219,1) 96%, rgba(22,188,237,1) 100%, rgba(0,212,255,1) 100%);*/
  background: linear-gradient(50deg, #8e09d0, #21a0e4, #2c586f, #2327ab);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}
@keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}

.input {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 400px;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;;
}

.buttonl {
  border-radius: 4px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}
.buttonl span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.buttonl span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonl:hover:enabled span {
  padding-right: 25px;
}
.buttonl:hover:enabled span:after {
  opacity: 1;
  right: 0;
}
.buttonl:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.buttonl:disabled,
button[disabled] span:hover{
  cursor: not-allowed;
}


.background {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue-background);
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in;
}

.toggle--checkbox {
  display: none;
}
.toggle--checkbox:checked {
  /** This will all flip from sun to moon **/
  /** Change the label color **/
}
.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}
.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 60px;
  width: 5px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 5px;
  height: 5px;
  top: -25px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 5px;
  height: 5px;
  left: -30px;
  top: 20px;
}
.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}
.modal.ui.modal{
  border: 10px #fff;
}
.time-input{
  background-color: transparent;
  border:none;
  color:#fff
}

.time-input:focus{
  outline:none;
}


/*input[type=time] {*/
/*  border: none;*/
/*  color: #fff;*/
/*  font-size: 14px;*/
/*  font-family: helvetica;*/
/*  width: 160px;*/
/*}*/

/*!* Wrapper around the hour, minute, second, and am/pm fields as well as*/
/*the up and down buttons and the 'X' button *!*/
/*input[type=time]::-webkit-datetime-edit-fields-wrapper {*/
/*  display: flex;*/
/*}*/

/*!* The space between the fields - between hour and minute, the minute and*/
/*second, second and am/pm *!*/
/*input[type=time]::-webkit-datetime-edit-text {*/
/*  padding: 19px 4px;*/
/*}*/

/*!* The naming convention for the hour, minute, second, and am/pm field is*/
/*`-webkit-datetime-edit-{field}-field` *!*/

/*!* Hour *!*/
/*input[type=time]::-webkit-datetime-edit-hour-field {*/
/*  background-color: #f2f4f5;*/
/*  border-radius: 15%;*/
/*  padding: 19px 13px;*/
/*}*/

/*!* Minute *!*/
/*input[type=time]::-webkit-datetime-edit-minute-field {*/
/*  background-color: #f2f4f5;*/
/*  border-radius: 15%;*/
/*  padding: 19px 13px;*/
/*}*/

/*!* AM/PM *!*/
/*input[type=time]::-webkit-datetime-edit-ampm-field {*/
/*  background-color: #7155d3;*/
/*  border-radius: 15%;*/
/*  color: #fff;*/
/*  padding: 19px 13px;*/
/*}*/

/*!* 'X' button for resetting/clearing time *!*/
/*input[type=time]::-webkit-clear-button {*/
/*  display: none;*/
/*}*/

/*!* Up/Down arrows for incrementing/decrementing the value *!*/
/*input[type=time]::-webkit-inner-spin-button {*/
/*  display: none;*/
/*}*/

.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 200px;
  height: 100px;
  background: var(--blue-color);
  border-radius: 100px;
  border: 5px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}
.toggle--label-background {
  width: 10px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 135px;
  top: 45px;
  transition: all 150ms ease-in;
}
.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -20px;
  transition: all 150ms ease-in;
}
.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -10px;
  transition: all 150ms ease-in;
}
.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 82px;
  height: 82px;
  border: 5px solid var(--yellow-border);
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
}
.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  left: 143px;
  top: 23px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}
@keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 4px;
  }
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

/*bodY {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/
.centerd {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.loaderScreen{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #2327ab;
}

.middlea {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: ;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}

